
   #screen{
        background-color: rgb(188, 240, 240);
        border: 5px solid #CCC;
        image-rendering: pixelated; /* melhora a qualidade do pixl */
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;
        width: 400px; 
        height: 400px;
    }
 
