body {
    margin: 1;
    padding: 1;
    position: relative; /* IMPORTANTÍSSIMO */
}


#screen {
    background: #a6eff1;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

canvas {
    border: 2px solid #000;
}

#login-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    text-align: center;
}

#login-screen input {
    padding: 10px;
    width: 200px;
    font-size: 16px;
    margin-bottom: 10px;
}

#login-screen button {
    padding: 10px;
    width: 220px;
    font-size: 16px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

#ranking {
    position: absolute;
    top: 2px;              /* distância do topo */
    right: 5px;            /* distância da direita */
    background: rgba(204, 245, 191, 0.85);
    padding: 10px 15px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    border: 1px solid #0a1bb6;
    width: 150px;
}

#ranking h3 {
    margin: 10 0 5px;
    font-size: 16px;
    text-align: center;
}

#ranking ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ranking li {
    font-size: 14px;
    padding: 2px 0;
}

#timer {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  font-family: Arial;
}
  
canvas {  
    width: 100%;
    height: auto;
    max-width: 900px;
    border: 2px solid #333;
    display: block;
    margin: 0 auto;
}

#ranking-container, #timer-box {
    position: fixed;
    z-index: 999;
}

#ranking-container {
    top: 10px;
    right: 10px;
    width: 140px;
}

#timer-box {
    top: 10px;
    left: 10px;
}

@media (max-width: 600px) {
    .player {
        width: 15px;
        height: 15px;
    }

    .fruit {
        width: 12px;
        height: 12px;
    }
}

/* Touch Controls */
#touch-controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
}

.middle-row {
  display: flex;
  gap: 10px;
}

.btn-touch {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.btn-touch:active {
  background: black;
}

/* Some adjustments for mobile screens */
@media (min-width: 800px) {
  #touch-controls { display: none; }
}


