/* ------------------- RESET / BASE ------------------- */
body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    background: #f5f5f5;
}

/* ------------------- CANVAS ------------------- */
#screen {
    display: block;
    margin: 0 auto;
    background: #a6eff1;
    touch-action: none; /* IMPORTANTE para mobile */
}

/* Para manter o tamanho verdadeiro do jogo sem distorcer */
canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 2px solid #000;
    display: block;
    margin: 0 auto;
    max-width: 100vw;
}

/* ------------------- LOGIN ------------------- */
#login-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    text-align: center;
    z-index: 2000;
}

#login-screen input {
    padding: 10px;
    width: 220px;
    font-size: 16px;
    margin-bottom: 10px;
}

#login-screen button {
    padding: 10px;
    width: 240px;
    font-size: 16px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

/* ------------------- RANKING ------------------- */
#ranking {
    position: fixed;
    top: 10px;
    right: 10px;
    background: rgba(204, 245, 191, 0.95);
    padding: 10px 15px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    border: 2px solid #0a1bb6;
    width: 160px;
    z-index: 9999;
}

#ranking h3 {
    margin: 0 0 6px;
    font-size: 16px;
    text-align: center;
}

#ranking li {
    font-size: 14px;
    padding: 1px 0;
    list-style: none;
}

/* ------------------- TIMER ------------------- */
#timer {
  position: fixed;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  font-family: Arial;
  z-index: 9999;
}

/* ------------------- TOUCH CONTROLS ------------------- */
#touch-controls {
  position: fixed;
  bottom: 25px;
  left: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
}

.middle-row {
  display: flex;
  gap: 10px;
}

.btn-touch {
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 12px;
  background: rgba(0,0,0,0.65);
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.btn-touch:active {
  background: black;
}

/* Oculta controles no PC */
@media (min-width: 800px) {
  #touch-controls { display: none; }
}
